body{
    margin:0;
    font-family:consolas;
}

form{
    margin: 0 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow:0 10px 10px rgba(0,0,0,.3), 0 10px 10px rgba(0,0,0,.3), 0 10px 30px #f3ece8;
}

button{
    outline: none!important;
    border: none;
    background: 0 0;
    padding: 0 20px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    transition: all .4s;  
    cursor:pointer;
}

input{
    font-size: 3em;
    width: 50%;
    outline:none;
    border: none;
    border-bottom: 2px solid;
    margin: 2em 0;
    text-align: center;
    letter-spacing: 0.5em;
    background:transparent;
}

h1{
    color: white;
    padding: 10px;
    font-weight: 100;
    border-radius: 0 0 10px 10px;
    margin:0;
}

div.main-container{
    display:flex;
}
div.container{
    height: 95vh;
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

form.pr{
    background: #ff4b5a;
}
form.jira{
    background: #6400e4;
}

header{
    text-align:center;
}

header span {
    font-size: 1em;
    border-radius: 5px;
    padding: 10px;
    color:white
}

span.primary-text{
    background: #6400e4;
}
span.secondary-text{
    background: #ff4b5a;
}


button.primary{
    background-color:#6400e4;
}
button.secondary{
    background-color: #ff4b5a;
    
}

input.primary{
    color: #6400e4;
    border-bottom-color: #6400e4;
    
}

input.secondary{
    color: #ff4b5a;
    border-bottom-color: #ff4b5a;
}

h1.primary-text{
    background-color: #6400e4;
}

h1.primary-text > img, h1.secondary-text > img {
    width:50px;
    height:50px;
}

h1.secondary-text{
    background-color: #ff4b5a;

}
